body {
    max-width: 1440px;
    margin: auto;
    padding: 0 40px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5em;
}

.logo-header-left img {
    width: 75px;
    height: auto;
    position: absolute;
}

.header-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.header-right ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 3px solid transparent;      /*Cache le border-top afin de ne pas bouger les deux éléments lors de son apparition*/
}

.header-right ul li a:hover {
    color: #0065fc;
    border-top: medium solid #0065fc;       /* Faire apparaître le border-top bleu*/
}
.title-page {
    line-height: 0.7;
}

.title-page h1 {
    font-size: 26px;
}

.title-page p {
    font-size: 18px;
}

.form-search {
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    padding: 0;
    margin-top: 1.5em;
    width: 415px;
    height: 50px;
    font-family: 'raleway', sans-serif;
}

.form-search label {
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 0 16px 0 16px;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-search .blue {
    color: black;
}

.form-search input[type="text"] {
    border: none;
    font-size: 19px;
    font-weight: bold;
    padding-left: 0.8em;
    height: 100%;
    width: 230px;
}

.form-search ::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
}

.form-search button[type="submit"] {
    background-color: #0065fc;
    color: white;
    font-size: 19px;
    font-weight: 550;
    border: none;
    padding: 0em 1em;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    padding: 0.8em;
}

.form-search button[type="submit"] .blue {      /*faire disparaître l'icone "loupe"*/
    display: none;
}

.filters-li {
    display: flex;
    width: 100%;
    padding-left: 0;
    margin-top: 1.5em;
    margin-bottom: 0;
    list-style: none;
}

.filters-li ul {
    display: flex;
    gap: 1em;
    padding-left: 20px;
    flex-shrink: 1;
    width: 65%;
}

.filter-title {
    padding: 9px 0 9px 9px;
    font-weight: 550;
    font-size: 18px;
    display: flex;
    align-items: center;
}


.filter-fa {
    color: black;
    border: 2px solid #e0dfdf;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 550;
    font-size: 17px;
    max-width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
}

.filter-fa .blue {
    margin-right: 12px;
    font-size: 20px;
}

.filter-fa:hover {
    background-color: #DEEBFF;
    cursor: pointer;
    
}

.pepites {
    white-space: nowrap;
}

.after-filter .blue {
    margin-right: 0.7em;
    font-size: 15px;
    border: 2px solid #e0dfdf;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-filter {
    font-size: 17px;
    padding: 10px 0 20px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 14px;
    width: 64%;
}

.container h1 {
    background-color: #f2f2f2;
    font-size: 23px;
    margin-left: 2.5rem;
    margin-top: 28px;
    margin-bottom: 16px;
}

.container span {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 15px 30px 0;
    margin-left: 2.5rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    margin: 15px;
    margin-bottom: 20px;
    width: 250px;
    height: 207px;
    background-color: white;
}

.card img {
    border-radius: 16px 16px 0px 0px;
    height: 60%;
    object-fit: cover;/*couvre la zone d'affichage*/
    width: 100%;
}

.card-description {
    font-size: 15px;
    line-height: 0.7em;
    margin-left: 5px;
    margin-top: 8px;
}
.card-description h3 {
    margin-top: 2px;
    margin-bottom: -5px;
}

aside {
    background-color: #f2f2f2;
    border-radius: 14px;
    width: 31%;
}

aside h2 {
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    margin: 28px 2rem 16px 2rem;
}

.cards-populaires {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-populaire {
    display: flex;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    margin: 15px;
    margin-bottom: 20px;
    width: 369px;
    height: 146px;
    background-color: white;
}

.card-populaire a { /*force l'élément "a" à prendre toute la largeur de la carte et à envelopper son contenu correctement*/
    display: flex;
    width: 100%;
}

.card-populaire img {
    border-radius: 16px 0px 0px 16px;
    object-fit: cover;
    width: 35%;
}

.card-populaire-description {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: space-between;
    height: 100%;
    margin-left: 2em;
    width: 60%;
    margin-left: 15px;
}

.card-populaire-description h3 {
    margin-top: 10px;
}

.description-text {
    line-height: 16px;
}

.card-populaire .stars {
    margin-bottom: 5px;
}

.card-link {
    text-decoration: none;
    color: black;
}

.stars {
    font-size: 12px;
}
.checked {      /*(étoiles)*/
    color: #0065fc;
}

.none {     /*étoiles*/
    color: #f2f2f2;
}

.activites-container {
    margin-top: 20px;
    padding: 30px;
}

.activites-container h1 {
    font-size: 23px;
    margin-bottom: 35px;
}

.activites {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.elements-activites {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    width: 23%;
    height: 490px;
}

.elements-activites h3 {
    margin-left: 1em;
    font-size: 17px;
    padding-top: 5px;
}
.elements-activites img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.blue {
    color: #0065fc;
}

footer {
    display: flex;
    margin-top: 40px;
    padding: 0 20px;
    background-color: #f2f2f2;
    gap: 21%;
    padding-bottom: 20px;
}

.element-footer {
    padding: 0.2em;
}

.element-footer a {
    text-decoration: none;
    color: black;
}

.element-footer h2 {
    font-size: 18px;
}

.element-footer p {
    margin-bottom: 0em;
    font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: auto;
    }
    .filters-li {
        margin-right: 20px;
        align-items: baseline;
        flex-direction: column;
    }
    .filter-title {
        margin: 0;
    }
    .filters-li ul {
        gap: 1em;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .filter-fa {
        font-size: 16px;
    }
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .container {
        width: 100%;
        margin-bottom: 40px;
    }
    .container h1 {
        margin-left: 25px;
    }
    .card {
        width: 268px;
        height: 207px;
    }
    .card-description h3 {
        font-size: 16px;
    }
    .container span {
        margin-left: 25px;
    }
    aside {
        width: 100%;
    }
    aside h2 {
        justify-content: space-between;
        margin: 30px 25px 10px 25px;
    }
    .cards-populaires {
        display: flex;
        margin: 0 3px;
        flex-wrap: nowrap;
    }
    .card-populaire {
        width: 29%;
        height: 146px;
        margin-left: 5px;
    }
    .card-populaire img {
        width: 40%;
    }
    .card-populaire-description {
        margin-left: 15px;
    }
    .description-text {
        font-size: 14px;
    }
    .elements-activites {
        width: 22%;
        height: 290px;
    }
    .elements-activites img {
        width: 100%;
        height: 230px;
        margin-bottom: -10px;
    }
    .elements-activites h3 {
        padding-top: 7px;
        font-size: 16px;
    }
    footer {
        gap: 14%;
    }
    .element-footer h2 {
        font-size: 18px;
    }
    .element-footer p {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
    header {
        flex-direction: column;
        gap: 2.5em;
    }
    .logo-header-left {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .header-right {
        width: 100%;
    }
    .header-right ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
    .header-right li {
        border-bottom: #f2f2f2 4px solid;
    }
    .header-right ul li a {
        font-size: 17px;
    }
    .header-right li:hover {
        border-bottom: medium solid #0065fc;
    }
    .header-right ul li a:hover {
        border-top: 3px solid transparent;
    }
    .section-1,
    .after-filter {
        margin: 0 20px;
    }
    main p {
        font-size: 22px;
    }
    .title-page {
        line-height: normal;
    }
    .title-page h1 {
        font-size: 22px;
    }
    .title-page p,
    .after-filter {
        font-size: 17px;
    }
    .form-search {
        width: 100%;
    }
    .form-search label {
        width: 10%;
        padding: 2px 15px 2px 15px;
    }
    .form-search input[type="text"] {
        font-size: 16px;
        width: 100%;
    }
    .form-search ::placeholder {
        font-size: 19px;
    }
    .form-search button[type="submit"] {
        width: 20%;
        padding: 18px 15px 18px 15px;
    }
    .form-search button[type="submit"] .blue {      /*faire réapparaître l'icône "loupe"*/
        display: contents;
        display: flex;
        justify-content: center;
        align-items: center;      
        font-size: 17px;
        color: white;
    }
    .form-search button[type="submit"] span {       /*faire disparaître "rechercher" */
        display: none;
    }
    .filter-title {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 22px;
    }
    .filter-fa {
        width: 61%;
        height: 24px;
        font-size: 13px;  
        justify-content: center;      
    }
    .filters-li {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1.5em;
        margin-left: 0;
        margin-top: 0;
        padding: 0;
    }
    .filters-li ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0;
        margin-top: 0;
        gap: 0.8em;
        width: 100%;
    }
    .filters-li .blue {
        font-size: 22px;
    }

    .after-filter p{
        font-size: 17px;
    }
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 0;
    }
    aside {
        width: 100%;
        margin-bottom: 2em;
        padding: 0 5px;
    }
    aside h2 {
        justify-content: space-between;
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .card-populaire {
        width: 100%;
        height: 140px;
        border-radius: 20px;
    }
    .card-populaire img {
        width: 44%;
    }
    .description-text h3 {
        font-size: 16px;
    }
    .description-text p {
        font-size: 14px;
    }
    .container {
        width: 100%;
        background-color: #FFFFFF;
        padding: 0 5px;
    }
    .container h1 {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 20px;
        padding-left: 0;
        background-color: #FFFFFF;
    }
    .cards {
        width: 100%;
    }
    .card {
        width: 100%;
        height: 190px;
        border-radius: 20px;
    }
    .card-description,
    .card-description p {
        font-size: 14px;
        line-height: 15px;
        margin-top: 12px;
    }
    .card-description .stars {
        margin-top: -8px;
    }
    .container span {
        display: none;
    }
    .activites-container h1 {
        font-size: 23px;
        font-weight: bold;
    }
    .activites {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .elements-activites {
        width: 100%;
        height: 220px;
        border-radius: 20px;
    }
    .elements-activites img {
        height: 70%;
        object-fit: cover;
    }
    .elements-activites h3 {
        font-size: 19px;
        padding-top: 0;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .element-footer h2 {
        font-size: 19px;
    }
    .element-footer p {
        font-size: 16px;
    }
}