body {
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

h2 {
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

.logo-header-left img {
    width: 75px;
    height: auto;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}

header nav ul li:first-child { /*Cible le premier élément li dans le nav*/
    margin-right: 4em;
}

header nav ul li a:hover {
    color: #0065fc;
}

.title-page {
    line-height: 0.7;
}

.title-page h1 {
    font-size: 26px;
}

.title-page p {
    font-size: 18px;
}

.form-search {
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 16px;
    padding: 0;
    margin-top: 1.5em;
    width: 25%;
    height: 50px;
    font-family: 'raleway', sans-serif;
}

.form-search label {
    background-color: #f2f2f2;
    border-radius: 16px 0px 0px 16px;
    padding: 0 15px 0 15px;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-search .blue {
    color: black;
}

.form-search input[type="text"] {
    border: none;
    font-size: 19px;
    font-weight: bold;
    padding-left: 0.8em;
    height: 100%;
}

.form-search ::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
}

.form-search button[type="submit"] {
    background-color: #0065fc;
    color: white;
    font-size: 19px;
    font-weight: 550;
    border: none;
    padding: 0em 1em;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;
    padding: 0.8em;
}

.form-search button[type="submit"] .blue {      /*faire disparaître l'icone "loupe"*/
    display: none;
}

.filters-li {
    display: flex;
    width: 100%;
    padding-left: 0;
    margin-top: 1.5em;
    margin-bottom: 0;
    list-style: none;
}

.filters-li ul {
    display: flex;
    gap: 2.22em;
    flex-shrink: 1;
    flex-grow: 1;
}

.filter-title {
    padding: 9px 0 9px 9px;
    font-weight: 550;
    font-size: 18px;
    display: flex;
    align-items: center;
}


.filter-fa {
    color: black;
    border: 2px solid #e0dfdf;
    border-radius: 25px;
    padding: 10px 2vw 10px 2vw;
    font-weight: 550;
    font-size: 17px;
    max-width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
}

.animaux {
    white-space: nowrap;
}

.filter-fa .blue {
    margin-right: 0.5em;
    font-size: 20px;
}

.filter-fa:hover {
    background-color: rgba(25, 148, 167, 0.2);
    cursor: pointer;
    
}

.after-filter .blue {
    margin-right: 0.7em;
    font-size: 15px;
    border: 2px solid #e0dfdf;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-filter {
    font-size: 18px;
    padding: 10px 0 20px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 14px;
    padding: 10px;
    width: 62%;
}

.container h1 {
    background-color: #f2f2f2;
    font-size: 25px;
    border-radius: 14px;
    padding: 10px;
    width: 60%;
    margin-top: 8px;
    margin-left: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    margin: 15px;
    margin-bottom: 20px;
    width: 230px;
    height: 195px;
    background-color: white;
}

.card img {
    border-radius: 16px 16px 0px 0px;
    height: 60%;
    object-fit: cover;/*couvre la zone d'affichage*/
    width: 100%;
}

.card-description {
    font-size: 15px;
    line-height: 0.7em;
    margin-left: 5px;
    margin-top: 8px;
}
.card-description h3 {
    margin-top: 2px;
    margin-bottom: -5px;
}

article {
    background-color: #f2f2f2;
    border-radius: 14px;
    padding: 10px;
    width: 32%;
}

article h2 {
    font-size: 25px;
}

article h2 span {
    float: right;
}

.cards-populaires {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-populaire {
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    margin: 15px;
    margin-bottom: 20px;
    width: 340px;
    height: 130px;
    background-color: white;
}

.card-populaire a { /*force l'élément "a" à prendre toute la largeur de la carte et à envelopper son contenu correctement*/
    display: flex;
    width: 100%;
}

.card-populaire img {
    border-radius: 16px 0px 0px 16px;
    object-fit: cover;
    width: 35%;
}

.card-populaire-description {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: space-between;
    height: 100%;
    margin-left: 2em;
    width: 60%;
}

.card-populaire-description h3 {
    margin-top: 10px;
}

.card-link {
    text-decoration: none;
    color: black;
}
.card-link:hover {
    opacity: 0.7;
    background-color: #cccccc;
}

.stars {
    font-size: 12px;
}
.checked {      /*(étoiles)*/
    color: #0065fc;
}

.none {     /*étoiles*/
    color: #f2f2f2;
}

.activites-container {
    margin-top: 70px;
}

.activites-container h1 {
    font-size: 25px;
}

.activites {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.elements-activites {
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    width: 22%;
    height: 490px;
}

.elements-activites h3 {
    margin-left: 1em;
}
.elements-activites img {
    width: 100%;
    height: 85%;
    border-radius: 14px 14px 0px 0px;
}


.blue {
    color: #0065fc;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 6px;
}

.element-footer {
    padding: 0.2em;
    align-items: center;
}

.element-footer a {
    text-decoration: none;
    color: black;
}

.element-footer p {
    margin-bottom: 0em;
    font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 35px;
    }
    .form-search {
        width: 44%;
        font-size: 19px;
    }
    .filters-li {
        margin-right: 20px;
    }
    .filters-li ul {
        gap: 1em;
        padding-left: 20px;

    }
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .container {
        width: 100%;
        margin-bottom: 40px;
    }
    .card-description h3 {
        font-size: 16px;
    }
    article {
        width: 100%;
    }
    .cards-populaires {
        display: flex;
    }
    .card-populaire {
        width: 27%;
        height: 135px;
        margin-left: 5px;
    }
    .card-populaire img {
        width: 42%;
    }
    .card-populaire-description {
        margin-left: 15px;
    }
    .description-text {
        font-size: 12px;
    }
    .elements-activites {
        width: 22%;
        height: 290px;
    }
    .elements-activites img {
        width: 100%;
        height: 230px;
        margin-bottom: -10px;
    }
    .elements-activites h3 {
        margin-left: 0.5em;
        font-size: 16px;
    }
    .element-footer p {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    body {
        margin: 5px;
    }
    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5em;
    }
    .logo-header-left {
        display: flex;
        justify-content: center;
    }
    header nav ul {
        display: flex;
        justify-content: center;
        margin-left: -2em;
    }
    header nav li {
        border-bottom: #f2f2f2 4px solid;
        padding: 65px 30px 20px 30px;
    }
    header nav ul li:first-child {
        padding-left: 15%;
        padding-right:5%;
        margin-right: 0;
    }
    header nav ul li:last-child {
        padding-left: 18%;
        padding-right: 10%;
        margin-left: 0;
    }
    header nav ul li a {
        font-size: 17px;
    }
    header nav li:hover {
        border-bottom: medium solid #0065fc;
    }
    main p {
        font-size: 22px;
    }
    .title-page {
        line-height: normal;
    }
    .title-page h1 {
        font-size: 22px;
    }
    .title-page p,
    .after-filter {
        font-size: 17px;
    }
    .form-search {
        height: 50px;
        width: 60%;
        justify-content: space-between;
    }
    .form-search label {
        max-width: 10%;
        padding: 2px 15px 2px 15px;
    }
    .form-search input[type="text"] {
        font-size: 16px;
    }
    .form-search ::placeholder {
        font-size: 19px;
    }
    .form-search button[type="submit"] {
        width: 20%;
        padding: 18px 15px 18px 15px;
    }
    .form-search button[type="submit"] .blue {      /*faire réapparaître l'icône "loupe"*/
        display: contents;
        display: flex;
        justify-content: center;
        align-items: center;      
        font-size: 17px;
        color: white;
    }
    .form-search button[type="submit"] span {
        display: none;
    }
    .filter-title {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 22px;
    }
    .filter-fa {
        height: 30px;
        font-size: 13px;        
    }
    .familial,
    .animaux {
        margin-right: 20px;
    }
    .filters-li {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1.5em;
        margin-left: 0;
        margin-top: 0;
        padding: 0;
    }
    .filters-li ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content:left;
        padding-left: 0;
        margin-top: 0;
        gap: 0.8em;
        flex-shrink: 1;
    }
    .filters-li .blue {
        font-size: 22px;
    }

    .after-filter p{
        font-size: 17px;
    }
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    article {
        width: 100%;
        margin-bottom: 2em;
    }
    article h2 {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .card-populaire {
        width: 100%;
        height: 140px;
        border-radius: 20px;
    }
    .card-populaire img {
        width: 45%;
    }
    .description-text h3,
    .description-text p {
        font-size: 14px;
    }
    .container {
        width: 100%;
    }
    .container h1 {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .container h2 {
        display: none;
    }
    .cards {
        width: 100%;
    }
    .card {
        width: 100%;
        height: 190px;
        border-radius: 20px;
    }
    .card-description,
    .card-description p {
        font-size: 14px;
        line-height: 15px;
        margin-top: 12px;
    }
    .card-description .stars {
        margin-top: -8px;
    }
    .activites-container h1 {
        font-size: 23px;
        font-weight: bold;
    }
    .activites {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .elements-activites {
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }
    .elements-activites img {
        height: 70%;
        object-fit: cover;
    }
    .elements-activites h3 {
        font-size: 19px;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .element-footer h2 {
        font-size: 19px;
    }
    .element-footer p {
        font-size: 16px;
    }
}